{% extends 'base/base.html' %}
    {% block contenido %}
<br>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <br>
            <h1 class="display-4">Preguntas Frecuentes.</h1>
            <p class="lead">Consulte la siguiente lista de preguntas frecuentes sobre el producto y los aspectos técnicos. En esta sección de preguntas frecuentes, encontrará respuestas a las preguntas más habituales.</p>
        </div>
    </div>
<!-- FAQ -->
<div class="container-fluid">
<div class="col-10 mx-auto">
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          P: ¿Necesito un Holograma?
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        R: Su función varía entre la innovación, educación, presentación y publicidad de marca. Estos los hace más llamativos al verlos y hace que la gente reaccione de manera positiva ante este
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          P: ¿Cuanto cuesta un Holograma?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        R: El precio depende tanto del diseño y las caracteristicas que usted requiera.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          P: ¿Se puede personalizar?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        R: Nuestra página está diseñada para mostrar cómo sera el holograma, de esa manera usted puede elegir el diseño de su agrado. 
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          P: ¿Donde puedo comprar sus Hologramas?
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        R: Por el momento no contamos con tienda física y el unico medio para adquirir un Holograma es por nuestra pagina.
      </div>
    </div>
  </div>
<!--
<div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
          P: ¿x?
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        R: x.
      </div>
    </div>
  </div> -->
</div>
</div>
</div>
<br>
<br>

{% endblock %}